html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

/* Main mobile frame */
#app {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  /* background: #f2efea; */
  background: linear-gradient(90deg, #378de2, #37e239, #ef0241);
  background-size: 300% 300%;
  animation: gradient-move 8s ease infinite;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#app-padding {
  padding: 0.75rem;
  height: 100%;
}

/* Center on desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.camera-container {
  display: flex;
  width: 100%;
  height: 60%;
}

/* Blurry background covers entire screen */
#camera-preview {
  aspect-ratio: 9 / 16;
  height: 100%;

  background: url('blur.gif') repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Call-to-action button */
#camera-start {
  max-width: 70%;
  padding: 1rem 1.3rem;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 10px;
  color: #0969da;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

#camera {
  aspect-ratio: 9 / 16;
  height: 100%;

  object-fit: cover;
  background: #000;
  display: none; /* hidden until permission granted */
}

#camera-controls {
  flex: 1;              /* takes up leftover width */
  height: 100%;

  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#camera-controls button {
  flex: 1;
  width: 100%;

  /* filter: blur(10px); */
}

#timer-container {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#timer {
  background: #282723;
  color: #fff;
  font-size: 7rem;
  font-family: monospace;
  text-align: center;
}

#timer-controls {
  display: flex;
  justify-content: space-between
}

#timer-controls button {
  flex: 1;
  height: 4rem;
}
