html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

button:hover {
  cursor: pointer;
}

/* Main mobile frame */
#app {
  width: 390px;
  height: 100dvh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  background: #ef0241; /* sauna */
  background: #378de2; /* ice bath */
}

#app-padding {
  padding: 0.75rem;
  height: 100%;
}

/* Center on desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#camera-container {
  display: flex;
  width: 100%;
  height: 50%;
}

.container {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Blurry background covers entire screen */
#camera-preview {
  aspect-ratio: 9 / 16;
  height: 100%;

  background: url('blur.gif') repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Call-to-action button */
#camera-start {
  max-width: 70%;
  padding: 1rem 1.3rem;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 10px;
  color: #0969da;
  text-decoration: underline;
}

#camera {
  aspect-ratio: 9 / 16;
  height: 100%;

  object-fit: cover;
  background: #000;
  display: none; /* hidden until permission granted */
}

#camera-controls {
  flex: 1; /* takes up leftover width */
  height: 100%;

  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#camera-controls button {
  flex: 1;
  width: 100%;

  /* filter: blur(10px); */
}

#timer-container {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#timer {
  background: #000;
  color: #fff;
  font-size: 7rem;
  font-family: monospace;
  text-align: center;
}

#timer-controls {
  display: flex;
  justify-content: space-between
}

#timer-controls button {
  flex: 1;
  height: 4rem;
}

#start-container {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#start-controls {
  display: flex;
  justify-content: space-between;
}

#start-controls button {
  flex: 1;
  height: 4rem;
}
