html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

/* Main mobile frame */
#app {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background: #00ff00;
  position: relative;
  overflow: hidden;
}

/* Center on desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.camera-container {
  display: flex;
  width: 100%;
  height: 60%;
}

/* Blurry background covers entire screen */
#camera-preview {
  aspect-ratio: 9 / 16;
  height: 100%;

  background: url('blur.gif') repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Call-to-action button */
#camera-start {
  max-width: 70%;
  padding: 1rem 1.3rem;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 10px;
  color: #0969da;
  text-decoration: underline;
}

#camera-start:hover {
  cursor: pointer;
}

#camera {
  aspect-ratio: 9 / 16;
  height: 100%;

  object-fit: cover;
  background: #000;
  display: none; /* hidden until permission granted */
}

#camera-controls {
  flex: 1;              /* takes up leftover width */
  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#camera-controls button {
  flex: 1;
  width: 100%;

  /* filter: blur(10px); */
}
