html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

/* Main mobile frame */
#app {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background: #00ff00;
  position: relative;
  overflow: hidden;
}

/* Center on desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Blurry background covers entire screen */
#camera-preview {
  position: absolute;
  top: 0;
  left: 0;

  height: 60%;           /* half height = quarter screen */
  aspect-ratio: 9 / 16;   /* forces 9:16 always */

  background: url('blur.gif') repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Call-to-action button */
#camera-start {
  max-width: 70%;
  padding: 1rem 1.4rem;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 10px;
  color: #0969da;
  text-decoration: underline;
}

#camera-start:hover {
  cursor: pointer;
}

#camera {
  position: absolute;
  top: 0;
  left: 0;

  height: 60%;           /* half height = quarter screen */
  aspect-ratio: 9 / 16;   /* forces 9:16 always */

  object-fit: cover;
  background: #000;
  display: none; /* hidden until permission granted */
}

#camera-controls {
  position: absolute;
  top: 0;
  right: 0;

  height: 60%;           /* half height = quarter screen */
  aspect-ratio: 7 / 16;   /* forces 9:16 always */

  object-fit: cover;
  background: #000;
  filter: blur(10px);
}
