html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

button:hover {
  cursor: pointer;
}

.selected {
  background: #e5e5e5;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(100%);
}

/* Main mobile frame */
#app {
  width: 390px;
  height: 100dvh;
  margin: 0 auto;
  background: #f2efea;
  position: relative;
  overflow: hidden;
}

#app-padding {
  padding: 0.75rem;
  height: 100%;
}

/* Center on desktop */
@media (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#camera-container {
  display: flex;
  width: 100%;
  height: 40%;
}

.container {
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Blurry background covers entire screen */
#camera-preview {
  aspect-ratio: 9 / 16;
  height: 100%;

  background: url('blur.gif') repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Call-to-action button */
#camera-start {
  max-width: 70%;
  padding: 1rem 1.3rem;
  font-size: 1.25rem;
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 10px;
  color: #0969da;
  text-decoration: underline;
}

#camera {
  aspect-ratio: 9 / 16;
  height: 100%;

  object-fit: cover;
  background: #000;
  display: none; /* hidden until permission granted */
}

#camera-controls {
  flex: 1; /* takes up leftover width */
  height: 100%;

  object-fit: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#camera-controls button {
  flex: 1;
  width: 100%;

  /* filter: blur(10px); */
}

#time-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}

#time-display {
  color: #fff;
  font-size: 7rem;
  font-family: monospace;
  text-align: center;
}

#time-controls {
  display: flex;
  justify-content: space-between
}

#time-controls .level-1 {
  flex: 1;
  height: 4rem;
}

.time-controls__group {
  display: flex;
}

#time-controls .level-2 {
  flex: 1;
}

#start-container {
  margin-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#start-controls {
  display: flex;
  justify-content: space-between;
}

#start-controls button {
  flex: 1;
  height: 4rem;
}

#start-controls__start {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
